@CHARSET "UTF-8";

.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button,.ui-accordion .ui-accordion-header a,.ui-datepicker .ui-datepicker-title select
	{
	font-size: 11px !important;
	text-shadow: none;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td {
	white-space: normal;
}

.semBorda tr,.semBorda td {
	border: none !important;
}

.ui-datatable table {
	margin-left: 0px;
}

.titulo-pagina {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.titulo-pagina-texto {
	font-family: Courier;
	font-weight: bold;
	font-size: 25px;
}

.anuncio-titulo {
	font-weight: bold;
}